@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "cocogose";
    
    src: url(../fonts/Cocogoose\ Pro-trial.ttf);
}
@font-face {
    font-family: "cocogose2";
    src: url(../fonts/Cocogoose\ Pro\ Italic-trial.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto-b";
    src: url(../fonts/Roboto-bold.ttf);
}

/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color1: #004797;
}

/* hovers */
.text-foot:hover{
    transition: 0.5s;
    color:#FF9500;
}
.no-acc:hover{
    transition: 0.2s;
    color:#7da3c3;
}
.for-pass:hover{
    transition: 0.2s;
    color:#7da3c3;
}
.boton-hover:hover{
    background-color: #FF9500;
}
.img-escale:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
.boton-hv:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
.border-sty:hover{
    border-color: #d3d0d0;
    border-width: 1px;
    transition: 0.5s;
}
/* header */
main{
    margin-left: 50px;
    margin-right: 50px;
}

.nom-icon{
    font-size: 12px;
    font-family: "roboto";
    letter-spacing: -.64px;
    width: 50px;
}
.img-escale{
    transform: scale(1.0);
    transition: 0.5s;
}
.header_nav{
    background-color: #004797;
    color:#FFFFFF;
    height: 120.88px;
}
.bot_header{
    background-color: #FDE300;
    width: auto;
    text-decoration: none;
    color: #826DB0;
    margin-bottom: 15px;
    font-family:"roboto-b";
}

#prueba{
    background-color:#F9E5B9;
    text-align: center;
    height: 55px;
    width: 1175px;
    margin-top: 30px;
}
/* Carro */
.span-prueba{
    font-family: "roboto";
}
.foto-prueb{
    width: 120px;
    height: 120px;
}

.btn-eliminar-prod{
    border:none;
    background-color: transparent;
}
.inp-cart{
    width: 30px;
    height: 30px;
    border:none;
    border-color: #adb5bd;
}
.add-cart{
    width: 25px;
    height: 30px;
    border: none;
    border-color: #adb5bd;
    background-color: transparent;

}
.del-cart{
    width: 25px;
    height: 30px;
    border: none;
    background-color: transparent;

}
.div-pro-tit{
    height: 50px;
}
.border-table-prod{
    border-bottom:solid 1px;
    border-color: #adb5bd;
}
div.foto-cart{
    width: 130px;
}
div.text-cart{ 
    width: 220px;
}
div.cant-cart{
    width: 140px;
    height: 32px;
    border:solid 1px;
    border-color: #adb5bd;
    margin-right: 20px;
}div.price-cart{
    width: 95px;
}div.del-cart{
    width: 30px;
}
.table-cart{
    border-bottom:solid 1px;
    border-color: #f1f3f9;;
    
}
th.product{
    width: 387px;
    height: 50px;
    font-size: 12px;
    font-family: "roboto";
}
th.product-quant{
    width: 130px;
    height: 50px;
    font-size: 12px;
    font-family: "roboto";
}
th.product-price{
    width: 180px;
    height: 50px;
    font-size: 12px;
    font-family: "roboto";
}
.cell-text-cod{
    border: solid 1px;
}
.mas-prod{
    color: #004797;
    text-decoration: none;
    font-size: 12px;
    font-family: "roboto";
}
.num-text-cart{
    font-family: "roboto";
    color:#004797;
    font-weight: bold;
    font-size: 18px;
}
.total-text-cart{
    font-family: "roboto";
    color:#323232;
    font-weight: bold;
    font-size: 18px;
}
.div-carrt{
    border-bottom: solid 1px;
    border-top: solid 1px;
}
.img-table{
    width: 150px;
    height: 150px;
}
.texto-carrito-prod{
    font-family: "roboto";
    color:#333333;
    font-size: 12px;
    font-weight: bold;
}
.texto-carrito-cat{
    font-family: "roboto";
    color:#333333;
    font-size: 12px;
}
.texto-carrito-estandar{
    font-family: "roboto";
    color:#999999;
    font-size: 10.2px;
}
/* resgistro */
.reg-st{
    font-size: 16px;
    font-family: "roboto";
    color:#000000;
}
.reg-principal{
    width: 700px;
    height: 300px;
    background-color: #e0eaec;
}
.long-inp{
    width: 266px;
    height: 40px;
    border:solid;
    border-width: 0.125rem;
    border-radius: 0.25rem;
    border-color: #e3e4e6;
}
.for-pass{
    color: #004797;
    text-decoration: none;
    font-size: 14px;
    font-family: "roboto";
}
.no-acc{
    color: #004797;
    text-decoration: none;
    font-size: 14px;
    font-family: "roboto";
}
.cod-acc{
    color: #004797;
    text-decoration: none;
    font-size: 16px;
    font-family: "roboto-b";
}
/* botones */
.btn-comp{
    width: 254px;
    height: 56px;
    background-color: #004797;
    border:none;
    color: #ffffff;
    font-family: "roboto";
    font-size: 13px;
    font-weight: bold;
}
.btn-codigo{
    width: 50px;
    height: 40px;
    background-color: #004797;
    border:none;
    color: #ffffff;
    font-family: "roboto";
    font-size: 12px;
}
.boton-hv{
    transform: scale(1.0);
    transition: 0.5s;
}
.boton-reg{
    width: 266px;
    height: 32px;
    background-color: #004797;
    border:none;
    color: #ffffff;
    font-family: "roboto";
}
.boton-reg2{
    width: 74.22px;
    height: 32px;
    background-color: #004797;
    border:none;
    color: #ffffff;
    font-family: "roboto";
}
.boton1{
    width: 173.68px;
    height: 55px;
    background-color: #AECFF5;
    border:none;
    font-family: "cocogose";
    color: #365A65;
}
.boton2{
    width: 173.68px;
    height: 55px;
    background-color: #BAAEF5;
    border:none;
    font-family: "cocogose";
    color: #365A65;
}
.boton3{
    width: 173.68px;
    background-color: #AEB9F5;
    height: 55px;
    border:none;
    font-family: "cocogose";
    color: #365A65;
}
.boton4{
    width: 173.68px;
    height: 55px;
    background-color: #AEE5F5;
    border:none;
    color: #004797;
    font-family: "cocogose";
    color: #365A65;
}
.boton5{
    width: 173.68px;
    height: 55px;
    background-color: #D1AEF5;
    border:none;
    font-family: "cocogose";
    color: #365A65;
}
.boton6{
    width: 173.68px;
    height: 55px;
    background-color: #EDAEF5;
    border:none;
    font-family: "cocogose";
    color: #365A65;
}
.boton-sub{
    width: 95.44px;
    height: 40px;
    background-color: #004797;
    border:none;
    color: #ffffff;
    font-family: "cocogose";
}
h2{
    font-family: "cocogose";
    text-decoration: none;
    color:#004797;
}
h3{
    font-family: "cocogose";
    text-decoration: none;
    color:#004797;
}
.newsletter-text{
    font-family: "roboto";
    text-decoration: none;
    color:#578096;
    font-size: 14px;
}
.iconos{
    font-family: "cocogose";
    text-decoration: none;
    font-size: 0.8rem;
    color:#004797;
}
/* NAvbar */
.navbar{
    padding: 2rem;
}
.navbar-collapse{
    align-items: baseline;
    justify-content: space-around;
}

.enlaces{
    color:#FFFFFF;
    font-family: "cocogose";
    font-size: 14px;
}
/* detalles-pedido */
.detalles-ped{
    width: 150px;
}
/* carta */
.link-cat{
    text-decoration: none;
    color:#365A65;
    font-family: "roboto";
}
.card{
    border-color: transparent;
}
.boton-comp{
    color: #ffffff;
    font-family: "roboto";
    width: 186px;
    height: 44px;
    background-color: #004797;
    text-decoration: none;
    text-align: center;
    border: none;
}
.precio-carta{
    color: #FF9500;
    font-family: "cocogose2";
}
/* footer */
.text-prin{
    font-size: 13px;
    color:#ffffff;
    font-family: "roboto-b";
}
.text-foot{
    color:#ffffff;
    font-size: 13px;
    font-family: "roboto";
    text-decoration: none;
}
.copirigth{
    color:#ffffff;
    font-family: "roboto";
    font-size: 12px;
}
.footer_bg{
    background-color:#004797;
}
.logo-tienda{
    width: 160px;
    height: 60px;
}
/*Media query*/
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */

    h1{
        color:var(--bg-color2);
        width: 50%;
        background: yellow;
    }
}